.card {
  max-width: 600px;
  width: 100%;
}

.card__content {
}

.card__title {
  margin: 0;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}

.card__list {
  list-style-type: none;
  margin-top: 32px;
  margin-bottom: 0px;
  padding: 0;
}

.card__list-item {
  display: flex;
  align-items: baseline;
  margin-bottom: 16px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 16px;
  line-height: 20px;
}

.card__list-item:last-of-type {
  margin-bottom: 0px;
}

.card__list-divider {
  content: "";
  min-width: 50px;
  border-bottom: 1px solid #d9e7ff;
  margin-left: 8px;
  margin-right: 8px;
  display: flex;
  flex-grow: 1;
}
